:root {
    --darkGreen: #26580F;
    --green: #378805;
    --lightGreen: #86DC3D;
    --offGreen: #C5E90B;
    --normal: #AAAA99;
    --fire: #FF4422;
    --water: #3399FF;
    --electric: #FFCC33;
    --grass: #77CC55;
    --ice: #65CCFF;
    --fighting: #BB5544;
    --poison: #AA5599;
    --ground: #DCBB55;
    --flying: #8899FF;
    --psychic: #FF5699;
    --bug: #AABB23;
    --rock: #BBAA66;
    --ghost: #6666BB;
    --dragon: #7766EE;
    --dark: #775544;
    --steel: #AAAABB;
    --fairy: #EE99EE;

    --darkest:rgb(46, 47, 88);
    --darker:rgb(75, 75, 75);
    --dark:rgb(143, 143, 144); 
}

@font-face {
    font-family: "pokemon";
    src: url("../fonts/pokemon.ttf") format("truetype");
}

body {
    font-family:"pokemon" ;
    background-image:url("../img/998181.jpg");
    height: 300vh;
    font-size: 2.5vh;
}

h1 {
    color: var(--offGreen);
    height: 8vh;
    
}


.info {
    opacity: 0.9;
    border-radius: 10px;
    margin-top: 1.75vh;
}

.info-container {
    box-shadow: 4px 4px 10px 3px black;
    height: 84.5vh;
    max-height: 800px;
    
}


.label {
    color:var(--dark);
    font-size: 2.5vh;
    
}

.button {
    max-width: 10vw;
}

.search-container {
    background-color: var(--darkest);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-top: 2cqb;
   padding-left: 1vw;
   padding-bottom: 1vh; 
   
}

.search-form {
    padding-top: 2vh;

}

#pokeInput {
    border-radius: 50px;

}

#searchButton {
    background-color: var(--dark);
    color: var(--darkest);
    border-radius: 50px;
    margin-left: 10px;
}

#searchButton:hover {
    background-color: var(--darker);
}

#pokeCard {
    margin-top: 1vw;
    border-radius: 10px;
    box-shadow: 10px 10px 20px  .5px black;
    max-height: 800px;
   
}


#abilityOne::first-letter {
    text-transform: capitalize;
}

#abilityTwo::first-letter {
    text-transform: capitalize;
}

#hiddenAbility::first-letter {
    text-transform: capitalize;
}

#typeOne, #typeTwo {
    color: white;
}

.normal {
    background-color: var(--normal);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--electric);
}

.grass {
    background-color: var(--grass);
}

.ice {
    background-color: var(--ice);
}

.fighting {
    background-color: var(--fighting);
}

.poison {
    background-color: var(--poison);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.psychic {
    background-color: var(--psychic);
}

.bug {
    background-color: var(--bug);
}

.rock {
    background-color: var(--rock);
}

.ghost {
    background-color: var(--ghost);
}

.dragon {
    background-color: var(--dragon);
}

.dark {
    background-color: var(--dark);
}

.steel {
    background-color: var(--steel);
}

.fairy {
    background-color: var(--fairy);
}