:root {
    --darkBlack: #0A0A0A;
    --black: #101010;
    --textWhite: #ffffff;
    --textWhiteShade: #f5f5f5;
    --textPink: #F24667;
    --textPinkShade: #f24668e5;

    --normal: #AAAA99;
    --fire: #FF4422;
    --water: #3399FF;
    --electric: #FFCC33;
    --grass: #77CC55;
    --ice: #65CCFF;
    --fighting: #BB5544;
    --poison: #AA5599;
    --ground: #DCBB55;
    --flying: #8899FF;
    --psychic: #FF5699;
    --bug: #AABB23;
    --rock: #BBAA66;
    --ghost: #6666BB;
    --dragon: #7766EE;
    --dark: #775544;
    --steel: #AAAABB;
    --fairy: #EE99EE;
}

html {
    background-color: var(--black);
}

header {
    background-color: var(--darkBlack);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    min-height: 100vh;
    min-width: 100vw;
}

#headerOne {
    color: var(--textWhite)
}

#headerTwo, .cardHeader {
    color: var(--textPink)
}

#pokeInput {
    border-color: var(--textPink);
    box-shadow: none;
}

#historyButtons, #clearPokeHistoryBtn, #searchForm, #searchButton {
    width: 100%;
}

#clearPokeHistoryBtn, #searchButton, #modalButton {
    background-color: var(--textPink);
    border-color: var(--textPink);
    box-shadow: none;
    color: var(--textWhite);
}

#clearPokeHistoryBtn:hover, #clearPokeHistoryBtn:active, #clearPokeHistoryBtn:focus, #searchButton:hover, #searchButton:active, #searchButton:focus,
#modalButton:hover, #modalButton:active, #modalButton:focus {
    background-color: var(--textPinkShade);
    border-color: var(--textWhite);
    box-shadow: none;
    color: var(--textWhite);
}

.button {
    background-color: var(--textWhite);
    color: var(--textPink);
    box-shadow: none;
}

.button:hover, .button:active, .button:focus {
    background-color: var(--textWhiteShade);
    border-color: var(--textPink);
    box-shadow: none;
    color: var(--textPink);
}

#pokeCard {
    /* 5:7 ratio based off 64px */
    max-width: 320px;
    max-height: 448px;
    height: auto;
    width: auto;
}

th, .modal-card-head, .modal-card-title {
    background-color: var(--darkBlack);
    color: var(--textPink)!important;
}

td, .modal-card-body {
    background-color: var(--black);
    color: var(--textWhite);
}

#abilityOne::first-letter {
    text-transform: capitalize;
}

#abilityTwo::first-letter {
    text-transform: capitalize;
}

#hiddenAbility::first-letter {
    text-transform: capitalize;
}

#typeOne, #typeTwo {
    color: white;
}

.normal {
    background-color: var(--normal);
}

.fire {
    background-color: var(--fire);
}

.water {
    background-color: var(--water);
}

.electric {
    background-color: var(--electric);
}

.grass {
    background-color: var(--grass);
}

.ice {
    background-color: var(--ice);
}

.fighting {
    background-color: var(--fighting);
}

.poison {
    background-color: var(--poison);
}

.ground {
    background-color: var(--ground);
}

.flying {
    background-color: var(--flying);
}

.psychic {
    background-color: var(--psychic);
}

.bug {
    background-color: var(--bug);
}

.rock {
    background-color: var(--rock);
}

.ghost {
    background-color: var(--ghost);
}

.dragon {
    background-color: var(--dragon);
}

.dark {
    background-color: var(--dark);
}

.steel {
    background-color: var(--steel);
}

.fairy {
    background-color: var(--fairy);
}